<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">
		
	<!-- 自动扫描bean，把作了注解的类转换为bean -->  
	<context:component-scan base-package="com.arrizo"/>
	
	<context:annotation-config/>
	
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" />
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/plain;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<mvc:interceptors>
	 	<!-- 店铺检查拦截器 -->
		<bean class="com.arrizo.web.model.interceptor.StoreInterceptor"></bean>
	 	<!-- 登录跳转拦截器 -->
		<bean class="com.arrizo.web.model.interceptor.LoginInterceptor">
		   <property name="excludes">
		    	<list>
		    		<value>/user/login.html</value>
		    		<value>/user/loginSubmit.html</value>
		    		<value>/user/register.html</value>
		    		<value>/user/registerSubmit.html</value>
		    		<value>/store/storeMain.html</value>
		    		<value>/product/productMain.html</value>
		    		<value>/store/newsList.html</value>
		    		<value>/album/albumList.html</value>
		    		<value>/album/albumInfo.html</value>
		    		<value>/employee/employeeList.html</value>
		    	</list>
		    </property>
		</bean>
	</mvc:interceptors>
	
	<!-- 全局异常配置 start -->
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">/common/404.jsp</prop>
				<prop key="java.lang.Throwable">/common/404.jsp</prop>
			</props>
		</property>
		<property name="statusCodes">
			<props>
				<prop key="errors/error">500</prop>
				<prop key="errors/404">404</prop>
			</props>
		</property>
		<!-- 默认HTTP状态码 -->
		<property name="defaultStatusCode" value="500"></property>
	</bean>
	<!-- 全局异常配置 end -->
</beans>